@import url("https://fonts.googleapis.com/css?family=Damion");
html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  color: #111;
  background-color: #0676B6;
}
nav.links ul,
header,
.content,
footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.page-with-nav nav.links ul,
.page-with-nav header,
.page-with-nav .content,
.page-with-nav footer {
  max-width: 1050px;
}
nav.links {
  background: #04466c;
}
nav.links ul {
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-align: right;
}
nav.links ul li {
  display: inline-block;
}
nav.links ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  background: #04466c;
  color: #fff;
}
nav.links ul li a:hover {
  background: #045685;
  color: #fff;
}
header {
  padding: 40px 0;
}
header h1 {
  margin: 0;
  font-family: "Damion", Arial, sans-serif;
  font-weight: normal;
  line-height: 1em;
  color: #FFE11C;
  font-size: 350%;
}
header h1 span {
  display: inline-block;
  vertical-align: middle;
}
header h1 img {
  vertical-align: middle;
  height: 110px;
  max-height: 128px;
}
.content {
  padding: 0;
  color: #111;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
}
.content nav {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  background: #DBE6EC;
  box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-size: 80%;
}
.content nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.content nav ul li a {
  display: block;
  line-height: 35px;
  color: #111;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  background: #DBE6EC;
  box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.9), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.content nav ul li a:hover,
.content nav ul li a.active {
  background-color: #cadae3;
  color: #111;
  box-shadow: inset 5px 0 0 #04466c, inset -5px 0 5px -5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.9), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.content nav > ul.toc,
.content nav > ul.menu > li > ul.toc {
  box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.9), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding: 0 0 1px 0;
}
.content nav > ul.toc li a,
.content nav > ul.menu > li > ul.toc li a {
  line-height: 25px;
  background: #fff;
  box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.3);
  color: #111;
}
.content nav > ul.toc li a:hover,
.content nav > ul.menu > li > ul.toc li a:hover {
  color: #0676B6;
  background: #fff;
  box-shadow: inset 5px 0 0 #04466c, inset -5px 0 5px -5px rgba(0, 0, 0, 0.3);
}
.content nav > ul.toc ul.toc a,
.content nav > ul.menu > li > ul.toc ul.toc a {
  padding-left: 25px;
}
.content nav > ul.toc ul.toc ul.toc a,
.content nav > ul.menu > li > ul.toc ul.toc ul.toc a {
  padding-left: 40px;
}
.content article {
  width: 100%;
  padding: 20px;
  line-height: 1.5em;
  box-sizing: border-box;
  background: #fff;
}
.content article h1,
.content article h2,
.content article h3,
.content article h4 {
  font-family: Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  color: #0676B6;
}
.content article h1 {
  line-height: 1em;
  margin: 0px -20px 30px -20px;
  padding: 0 20px 15px 20px;
  font-size: 240%;
  border-bottom: #0676B6 solid 2px;
  color: #0676B6;
}
.content article h2 {
  margin: 60px 0 15px -20px;
  font-size: 170%;
  border-left: #0676B6 solid 5px;
  padding-left: 15px;
  color: #0676B6;
}
.content article h3 {
  margin: 40px 0 15px 0;
  font-size: 130%;
  color: #0676B6;
}
.content article h4 {
  color: #0676B6;
  font-size: 100%;
  padding-left: 30px;
}
.content article code {
  font-family: monospace;
  color: #033653;
}
.content article a {
  color: #0676B6;
}
.content article img {
  max-width: 100%;
}
.content article p {
  text-align: justify;
}
.content article pre {
  font-family: monospace;
  background: #21323C;
  color: #eee;
  margin: 0 -20px;
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
  line-height: 1.3em;
}
.content article pre code {
  color: #eee;
  width: 10px;
}
.content article pre .hljs {
  overflow-x: visible !important;
  padding: 0 !important;
  background: transparent !important;
}
.content article blockquote {
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px;
  background: #BBCCD6;
  color: #24333b;
  border-top: transparent solid 1px;
  border-bottom: transparent solid 1px;
  font-style: italic;
}
.content article blockquote:before,
.content article blockquote:after {
  color: #7b9cb0;
  font-size: 64px;
  font-family: Arial, sans-serif;
}
.content article blockquote:before {
  content: "“";
  float: left;
  margin: 20px 10px 10px 0;
}
.content article blockquote:after {
  content: "”";
  float: right;
  margin: -15px 10px 10px 0;
}
footer {
  font-size: 70%;
  color: #02263b;
  text-align: center;
}
footer a {
  color: #02263b;
}
/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)

*/

/*background color*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1d1f21;
}

/*selection color*/
.hljs::selection,
.hljs span::selection {
  background: #373b41;
}

.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #373b41;
}

/*foreground color*/
.hljs {
  color: #c5c8c6;
}

/*color: fg_yellow*/
.hljs-title,
.hljs-name {
  color: #f0c674;
}

/*color: fg_comment*/
.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #707880;
}

/*color: fg_red*/
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
 color: #cc6666
}

/*color: fg_green*/
.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #b5bd68;
}

/*color: fg_purple*/
.hljs-attribute,
.hljs-code,
.hljs-selector-id {
 color: #b294bb;
}

/*color: fg_blue*/
.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
 color: #81a2be;
}

/*color: fg_aqua*/
.hljs-subst,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #8abeb7;
}

/*color: fg_orange*/
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
  color: #de935f;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

header h1 {
  text-shadow: 0 0 5px #FFE11C;
}
header h1 img {
  transform: rotate(-30deg);
}
