name: "Lint and test"

on: [push, pull_request]

jobs:

  build-and-test:

    name: "Lint and test"
    runs-on: ubuntu-latest

    steps:

      - name: "Checkout the repository"
        uses: actions/checkout@v5

      - name: "Set up Node ${{ matrix.node-version }}"
        uses: actions/setup-node@v5
        with:
          node-version: 18

      - name: "Install dependencies"
        run: |
          npm install

      - name: "Lint"
        run: |
          npm run lint
